<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="XDS_Repository__Simple_Version_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="XdsRepository.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <applicationSettings>
    <XDS_Repository__Simple_Version_.Properties.Settings>
      <setting name="RepositoryId" serializeAs="String">
        <value>1.19.6.24.109.42.1.5</value>
      </setting>
      <setting name="RegistryURI" serializeAs="String">
        <value>http://localhost:8090/HSSRegistry</value>
      </setting>
      <setting name="RepositoryURI" serializeAs="String">
        <value>http://localhost:8082/HSSRepository</value>
      </setting>
      <setting name="StoragePath" serializeAs="String">
        <value>C:\HSSRepository\</value>
      </setting>
      <setting name="RepLog" serializeAs="String">
        <value>C:\HSSLogs\Repository\</value>
      </setting>
      <setting name="atnaHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="atnaPort" serializeAs="String">
        <value>6670</value>
      </setting>
    </XDS_Repository__Simple_Version_.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <XdsRepository.Properties.Settings>
      <setting name="RegistryURI" serializeAs="String">
        <value>http://localhost:8090/HSSRegistry</value>
      </setting>
      <setting name="RepositoryPath" serializeAs="String">
        <value>C:\HSSRepository\</value>
      </setting>
      <setting name="RepositoryId" serializeAs="String">
        <value>1.19.6.24.109.42.1.5</value>
      </setting>
      <setting name="RepositoryURI" serializeAs="String">
        <value>http://localhost:8082/HSSRepository</value>
      </setting>
      <setting name="RepositoryLog" serializeAs="String">
        <value>C:\HSSLogs\Repository\</value>
      </setting>
      <setting name="AtnaHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="AtnaPort" serializeAs="String">
        <value>6670</value>
      </setting>
      <setting name="HashCode" serializeAs="String">
        <value>99999</value>
      </setting>
      <setting name="AuthDomain" serializeAs="String">
        <value>1.3.6.1.4.1.21367.2005.3.7</value>
      </setting>
      <setting name="Thumbprint" serializeAs="String">
        <value>3d03dd7f2486afe4a857af42c2c3e8d5fd029698</value>
      </setting>
      <setting name="RootCertificate" serializeAs="String">
        <value>C:\HSS\XDS_Repository\Certificates\643.der</value>
      </setting>
      <setting name="ServerCertificate" serializeAs="String">
        <value>C:\HSS\XDS_Repository\Certificates\1606.p12</value>
      </setting>
      <setting name="ServerCertPassword" serializeAs="String">
        <value>password</value>
      </setting>
    </XdsRepository.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="CustomBinding_WebServices">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:8090/HSSRegistry" binding="wsHttpBinding"
        bindingConfiguration="CustomBinding_WebServices" contract="ServiceReference1.WebServices"
        name="CustomBinding_WebServices" />
    </client>
  </system.serviceModel>
</configuration>
